---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_16O6qTIVfRceAQlJhKk4pHl5&description=Sign%20up%20charge%20for%20jam%40jamblack.com%20
    headers:
      Authorization:
      - Bearer sk_test_Z9DBgyLvkOKJlgslZ9dpkbgo
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_16O6qTIVfRceAQlJZGSTjzUN"
          }
        }
  recorded_at: Mon, 13 Jul 2015 13:19:45 GMT
recorded_with: VCR 2.9.3
