---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_16Z61sIVfRceAQlJ4v6tot40&email=jam%40jamblack.com&plan=base
    headers:
      Authorization:
      - Bearer sk_test_Z9DBgyLvkOKJlgslZ9dpkbgo
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1439412057,
          "id": "cus_6mfMNnrzN7rayc",
          "livemode": false,
          "description": null,
          "email": "jam@jamblack.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6mfMNnrzN7rayc/subscriptions",
            "data": [
              {
                "id": "sub_6mfMh71FLvEOUU",
                "plan": {
                  "interval": "month",
                  "name": "base plan",
                  "created": 1437020303,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": null
                },
                "object": "subscription",
                "start": 1439412057,
                "status": "active",
                "customer": "cus_6mfMNnrzN7rayc",
                "cancel_at_period_end": false,
                "current_period_start": 1439412057,
                "current_period_end": 1442090457,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6mfMNnrzN7rayc/sources",
            "data": [
              {
                "id": "card_16Z61sIVfRceAQlJcvHsZBSh",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 7,
                "exp_year": 2019,
                "fingerprint": "pg1CYhCS9T2GnyZJ",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "tokenization_method": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6mfMNnrzN7rayc"
              }
            ]
          },
          "default_source": "card_16Z61sIVfRceAQlJcvHsZBSh"
        }
  recorded_at: Wed, 12 Aug 2015 20:40:56 GMT
recorded_with: VCR 2.9.3
