---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_16O6GVIVfRceAQlJ8fw9X38U&description=Sign%20up%20charge%20for%20jam%40jamblack.com%20
    headers:
      Authorization:
      - Bearer sk_test_Z9DBgyLvkOKJlgslZ9dpkbgo
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_16O6GWIVfRceAQlJURI7bNIA",
          "object": "charge",
          "created": 1436791356,
          "livemode": false,
          "paid": true,
          "status": "succeeded",
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "source": {
            "id": "card_16O6GVIVfRceAQlJO199i8ko",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 7,
            "exp_year": 2015,
            "fingerprint": "pg1CYhCS9T2GnyZJ",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": null
          },
          "captured": true,
          "balance_transaction": "txn_16O6GWIVfRceAQlJe8J3sQOb",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Sign up charge for jam@jamblack.com ",
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "destination": null,
          "application_fee": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_16O6GWIVfRceAQlJURI7bNIA/refunds",
            "data": []
          }
        }
  recorded_at: Mon, 13 Jul 2015 12:42:36 GMT
recorded_with: VCR 2.9.3
