---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=7&card[exp_year]=2016&card[cvc]=390
    headers:
      Authorization:
      - Bearer sk_test_Z9DBgyLvkOKJlgslZ9dpkbgo
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16NkMnIVfRceAQlJlhd3MMdw",
          "livemode": false,
          "created": 1436707177,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16NkMnIVfRceAQlJUSaerk8I",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 7,
            "exp_year": 2016,
            "fingerprint": "11LSsbgBhVYWgQLt",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "73.129.194.161"
        }
  recorded_at: Sun, 12 Jul 2015 13:19:37 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_16NkMnIVfRceAQlJlhd3MMdw&description=Myflix%20signup%20charge
    headers:
      Authorization:
      - Bearer sk_test_Z9DBgyLvkOKJlgslZ9dpkbgo
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_16NkMnIVfRceAQlJTMASQnzl"
          }
        }
  recorded_at: Sun, 12 Jul 2015 13:19:38 GMT
recorded_with: VCR 2.9.3
