---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_16PPkyIVfRceAQlJL9W2HaEt
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_Z9DBgyLvkOKJlgslZ9dpkbgo
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_16PPkyIVfRceAQlJL9W2HaEt",
          "created": 1437104608,
          "livemode": false,
          "type": "charge.failed",
          "data": {
            "object": {
              "id": "ch_16PPkyIVfRceAQlJmk61Uf95",
              "object": "charge",
              "created": 1437104608,
              "livemode": false,
              "paid": false,
              "status": "failed",
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "source": {
                "id": "card_16PPkBIVfRceAQlJ0sZggVlC",
                "object": "card",
                "last4": "0341",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 7,
                "exp_year": 2018,
                "fingerprint": "JUUeElejd4oUbH8P",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "tokenization_method": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6cex2bmvunQIYo"
              },
              "captured": false,
              "balance_transaction": null,
              "failure_message": "Your card was declined.",
              "failure_code": "card_declined",
              "amount_refunded": 0,
              "customer": "cus_6cex2bmvunQIYo",
              "invoice": null,
              "description": "Declined Charge",
              "dispute": null,
              "metadata": {},
              "statement_descriptor": null,
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "destination": null,
              "application_fee": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_16PPkyIVfRceAQlJmk61Uf95/refunds",
                "data": []
              }
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "req_6cf5kw6RsHOvQw",
          "api_version": "2015-07-07"
        }
  recorded_at: Fri, 17 Jul 2015 03:59:18 GMT
recorded_with: VCR 2.9.3
