---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_Z9DBgyLvkOKJlgslZ9dpkbgo
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16PJ51IVfRceAQlJ452tRQ57",
          "livemode": false,
          "created": 1437078943,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16PJ51IVfRceAQlJHDZ2vwrf",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 6,
            "exp_year": 2018,
            "fingerprint": "pg1CYhCS9T2GnyZJ",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "73.129.194.161"
        }
  recorded_at: Thu, 16 Jul 2015 20:35:43 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_16PJ51IVfRceAQlJ452tRQ57&email=brady.robel%40bartellmaggio.org&plan=base
    headers:
      Authorization:
      - Bearer sk_test_Z9DBgyLvkOKJlgslZ9dpkbgo
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1437078943,
          "id": "cus_6cYB2AsVFAS1Ux",
          "livemode": false,
          "description": null,
          "email": "brady.robel@bartellmaggio.org",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6cYB2AsVFAS1Ux/subscriptions",
            "data": [
              {
                "id": "sub_6cYBKmIRN962sc",
                "plan": {
                  "interval": "month",
                  "name": "base plan",
                  "created": 1437020303,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": null
                },
                "object": "subscription",
                "start": 1437078943,
                "status": "active",
                "customer": "cus_6cYB2AsVFAS1Ux",
                "cancel_at_period_end": false,
                "current_period_start": 1437078943,
                "current_period_end": 1439757343,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6cYB2AsVFAS1Ux/sources",
            "data": [
              {
                "id": "card_16PJ51IVfRceAQlJHDZ2vwrf",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 6,
                "exp_year": 2018,
                "fingerprint": "pg1CYhCS9T2GnyZJ",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "tokenization_method": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6cYB2AsVFAS1Ux"
              }
            ]
          },
          "default_source": "card_16PJ51IVfRceAQlJHDZ2vwrf"
        }
  recorded_at: Thu, 16 Jul 2015 20:35:44 GMT
recorded_with: VCR 2.9.3
